.cover__quote {
  width: 18.5em;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 768px) {
  .cover__quote {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}
