.cover {
  position: relative;
  padding: 0;
  height: calc(100vw / 4 * 2.5);
  background-image: url("../../images/overlay-banner.png");
  background-size: contain;
}

.cover::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 0 48px;
    height: calc(1184px / 4 * 2.5);
  }
}
