.card__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #FFFFFF;
  margin: 0 0 25px 0;
}

.card__text:last-of-type{
  margin: 0;
}

@media screen and (min-width: 1024px){
  .card__text {
    font-size: 18px;
    margin: 0 0 27px 0;
  }
}

@media screen and (min-width: 1280px){
  .card__text {
    margin: 0 0 26px 0;
  }
}